.home-main {
    /* position: relative; */
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    align-items: center;
}

.full-screen-panel {
    min-height: 100%;
    min-width: calc(100% - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 0; */
    overflow: auto;
        /* Add this line */
    }
 

.no-split-screen {
    /* position: absolute; */
   
    /* z-index: 1; */
    /* Set a lower z-index than the header */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-screen-comp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 70%;
    /* border: 2px solid gold; */
}