

.header-row {
    display: flex;
}

.row {
    display: flex;
    margin-bottom: 5px;
    height: 27px;
}


  
  /* Styling for Item Name input */
  .itemName {
    flex: 1;
    margin-right: 5px; /* Adjust overlap */
  }
  
  .itemInput {
    width: auto;
    padding: 5px;
    min-width: 10px; /* Minimum size */
    border: 1px solid #d4cece;
    border-radius: 5px;
  }
  

  
  .price-input {
    width: auto;
    padding: 5px;
    min-width: 80px; /* Minimum size */
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  
  /* Styling for person-related inputs */
  
  .person-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    height: 40px;
}


  .p-heading {
    width: 180px;
  }

  .person-input {
    width: 97%;
    height: 22px;
    border-radius: 5px;
  }
  
  /* Styling for buttons and person section */
  .header-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
  }
  
  .add-button,
  .remove-button {
    padding: 5px;
    border: 1px solid #00b6b0;
    background-color: #fff;
    cursor: pointer;
  }
  
 
  
  .add-all{
    text-align: center;
    width: 100px;
    height: 40px;
  }

  .price-selectors {
    display: flex;
    flex-basis: auto; /* Prevent parent’s influence on child's width */
    width: 100%;
    justify-content: space-around;
    margin-bottom: 5px;
    height: 27px;
}

.card {
    display: flex;
    flex-direction: row;
}

.card-container {
    display: flex;
    flex-direction: column;
    
    
}

.checkbox-row {
    display: flex;
    flex-direction: column;
}

.selection {
    width: 180px;
    display: flex;
    justify-content: center;
}

.all {
    width: 100px;
    
}

.total-row {
  display: flex;
  justify-content: flex-start;
}

.total-single {
  width: 180px;
  margin-right: 5px;
}

.total-input {
  border-radius: 5px;
  width: 97%;
  margin-right: 5px;
}

