html, body {
    margin: 0 !important;
    padding: 0 !important;
}



.split-container {
    /* position: absolute; */
    display: flex;
    grid-auto-flow: row;
    justify-content: space-around;
    border: 1px solid teal;
    margin: 0;
    padding: 0;
}

.row-change {
    display: flex;
    flex-direction: row;
}

.item-price {
    height: 40px;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.total-final {
    width: 170px;
    margin-right: 3px;
}

.final-total-input {
    width: 97%;
    border-radius: 5px;
}
