html, body {
    margin: 0 !important;
    padding: 0 !important;
}



.split-container {
    /* position: absolute; */
    display: flex;
    grid-auto-flow: row;
    justify-content: space-around;
    border: 1px solid teal;
    margin: 0;
    padding: 0;
}

.row-change {
    display: flex;
    flex-direction: row;
}

